@import "../vendor/normalize.css";
@import "../styles/styles.css";
@import "../styles/icons.css";

@font-face {
    font-family: 'HSE Sans';
    src: url('../font/HSESans-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'HSE Sans';
    src: url('../font/HSESans-Regular.ttf') format('truetype');
    font-weight: 400;
}

* {
    box-sizing: border-box;
}
html,
body {
    min-height: 100%;
}
