@font-face {
    font-family: 'HSE Sans';
    src: url('../font/HSESans-Black.ttf') format('truetype'),
    url('../font/HSESans-Bold.ttf') format('truetype'),
    url('../font/HSESans-Italic.ttf') format('truetype'),
    url('../font/HSESans-Regular.ttf') format('truetype'),
    url('../font/HSESans-SemiBold.ttf') format('truetype'),
    url('../font/HSESans-Thin.ttf') format('truetype');
}

@import "../vendor/normalize.css";
@import "../styles/styles.css";
@import "../styles/icons.css";

* {
    box-sizing: border-box;
}
html,
body {
    min-height: 100%;
}
